@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: #fffbea;
  --foreground: #1f1f1f;
  --primary: #fde68a;
  --primary-hover: #fcd34d;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --font-sans: var(--font-montserrat);
}

/* Dark mode (optional) */
@media (prefers-color-scheme: dark) {
  :root {
  --background: #fffbea;
  --foreground: #fcd34d;
  --primary: #fde68a;
  --primary-hover: #fcd34d;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --font-sans: var(--font-montserrat);
  }
}

/* Base Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
